<h3>Заказ из Pragmatic Store отправлен</h3>
<p>Вам отправили заказ:</p>
<table class="table table-condensed">
    <tr>
        <th>Кол-во</th><th>Описание</th>
    </tr>
    <%= render @order.line_items -%>
</table>
