
<div class="col-md-3" style="margin-top: 60px;">
      <%if session[:user_id]%>

          <%if @cart%>
              <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do%>
                  <%= render @cart%>
              <%end%>
          <%end%>
      <%end%>
</div>
<div class="col-md-6">


    <h1 style="text-align:center"><%= t('.order')%></h1> <br>

    <%= render 'form', order: @order %>
</div>

